/* * * * * Variable declarations * * * * */

:root {
    --main-color: #ff8000;
    --accent-color: #8EC7D2;
    --attention-color: #81186f;
    --text-color: #111111;
    --background-color: #f8f7ed;
    --footer-background-color: #E6D2AA;
    --light-gray-color: #777;
    --dark-gray-color: #333;
    --button-hover-color: rgba(255, 255, 255, 0.3);
    --nav-menu-backdrop-filter: blur(10px) brightness(90%);
    --heading-font: "Didact Gothic";
    --paragraph-font: "Didact Gothic";
    --title-font-size: 3em;
    --heading-font-size: 3em;
    --subheading-font-size: 2em;
    --paragraph-font-size: 1.25em;
    --big-link-font-size: 1.5em;
    --paragraph-line-height: 1.75em;
}

/* * * * * General classes * * * * */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

.section {
    max-width: 992px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.heading {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font), sans-serif;
    font-size: var(--heading-font-size);
    text-align: center;
}

.subheading {
    margin-top: 50px;
    font-family: var(--heading-font), sans-serif;
    font-size: var(--subheading-font-size);
}

.subsubheading {
    margin-top: 50px;
    font-family: var(--heading-font), sans-serif;
    font-size: var(--big-link-font-size);
}

.paragraph {
    font-family: var(--paragraph-font), sans-serif;
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
    margin: auto;
}

.list {
    font-family: var(--paragraph-font), sans-serif;
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
    margin-top: 0;
}

.list li {
    color: var(--accent-color);
}

.list li span {
    color: var(--text-color);
}

.link {
    font-family: var(--paragraph-font), sans-serif;
    color: var(--text-color);
    text-decoration-line: underline;
    text-decoration-color: var(--main-color);
    text-decoration-thickness: 3px;
    transition: 0.4s;
}

.link:hover {
    text-decoration-thickness: 4px;
    text-decoration-color: var(--accent-color);
}

.image-link:hover {
    opacity: 75%;
}

.link-button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    text-align: center;
    text-decoration: none;
    color: white;
}

.button-1 {
    background-color: var(--main-color);
    box-shadow: -10px -10px var(--accent-color);
    transition: 0.3s;
}

.button-1:hover {
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-out 0.15s;
    box-shadow: 0px 0px;
    background-color: var(--accent-color);
}

.button-2 {
    background-color: var(--main-color);
    color: white;
    box-shadow: -10px 10px var(--accent-color), 10px -10px var(--accent-color);
    transition: 0.3s;
}

.button-2:hover {
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-out 0.15s;
    box-shadow: 0px 0px;
    background-color: var(--accent-color);
}

.button-3 {
    background-color: var(--main-color);
    color: white;
    box-shadow: -10px -10px var(--main-color), 10px 10px var(--main-color)/*, -10px 10px var(--accent-color), 10px -10px var(--accent-color)*/;
    padding-top: 25px;
    border-top: 10px solid var(--accent-color);
    border-left: 10px solid var(--accent-color);
    transition: 0.3s;
}

.button-3:hover {
    transition: box-shadow 0.3s ease-in, border-width 0.15s ease-in, padding-top 0.15s ease-in, background-color 0.3s ease-out 0.15s;
    box-shadow: 0px 0px;
    border-width: 0px;
    padding-top: 15px;
    background-color: var(--accent-color);
}

.button-4 {
    background-color: var(--main-color);
    color: white;
    box-shadow: -10px -10px var(--main-color), 10px 10px var(--main-color);
    transition: 0.3s;
    border: 5px solid var(--accent-color);
}

.button-4:hover {
    transition: box-shadow 0.3s ease-in, border-width 0.15s ease-in, background-color 0.3s ease-out 0.15s;
    box-shadow: 0px 0px;
    border-width: 0px;
    background-color: var(--attention-color);
}

.horizontal-line {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--light-gray-color);
}

.newline {
    padding-bottom: 25px;
}

.page-header {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--main-color);
}

.page-title {
    font-family: var(--heading-font), sans-serif;
    font-size: var(--title-font-size);
}

.page-description {
    font-family: var(--paragraph-font), sans-serif;
    font-size: var(--paragraph-font-size);
    margin-bottom: 150px;
}

#main-content {
    color: var(--text-color);
}

#first-element {
    margin-top: 50px;
}

#footer {
    margin-top: 50px;
    background-color: var(--footer-background-color);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#footer-links {
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
}

#main-footer-link {
    font-family: var(--heading-font);
    font-size: var(--big-link-font-size);
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
}

#footer-social-links {
    display: flex;
}

#footer-social-links > a > img {
    width: 30px;
    margin-top: 15px;
    opacity: 100%;
    transition: 0.2s;
}

#footer-social-links > a > img:first-child {
    margin-right: 15px;
}

#footer-social-links > a > img:hover, #footer-social-links > a > img:active {
    fill: #aaa;
    opacity: 75%;
    transition: 0.2s;
}

#footer-navigation-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-link {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    margin-bottom: 10px;
}

.footer-link > a {
    color: var(--text-color);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

#footer > p {
    font-family: var(--paragraph-font);
    max-width: 992px;
    margin: auto;
}

/* * * * * Navigation header * * * * */

#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    z-index: 2;
    -webkit-backdrop-filter: var(--nav-menu-backdrop-filter);
    backdrop-filter: var(--nav-menu-backdrop-filter);
}

#mobile-nav-menu {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    z-index: 2;
}

#navbar-links-mobile {
    display: none;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
}

#navbar-links-desktop {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

#navtitle {
    float: left;
    padding-left: 5px;
    color: var(--text-color);
    font-family: var(--heading-font), sans-serif;
    font-size: 2em;
}

#navtitle-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: var(--text-color);
    text-decoration: none;
}

.navitem-desktop {
    display: flex;
    align-items: stretch;
}

.navitem-mobile {
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: white;
    -webkit-backdrop-filter: var(--nav-menu-backdrop-filter);
    backdrop-filter: var(--nav-menu-backdrop-filter);
}

.navitem-mobile > .navlink {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.navlink {
    padding-left: 15px;
    padding-right: 15px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: var(--paragraph-font), sans-serif;
    font-size: 1.75em;
}

.navlink:hover, .navlink-mobile:hover {
    background-color: var(--button-hover-color);
    transition: 0.4s;
}

.bold-navlink {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
}

/* * * * * Home Page * * * * */

#welcome-section {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: var(--main-color);
    color: white;
}

#welcome-section img {
    display: block;
    margin: auto;
    border-radius: 50%;
}

#welcome-section h1 {
    font-family: var(--heading-font);
    font-size: var(--heading-font-size);
    text-align: center;
}

#welcome-section p {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
    text-align: center;
}

#scroll-down-prompt {
    margin: auto;
}

#scroll-down-prompt > p {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

#scroll-link {
    color: var(--background-color);
    text-decoration: solid underline var(--accent-color) 3px;
    transition: 0.4s;
}

#scroll-link:hover {
    text-decoration: solid underline var(--attention-color) 4px;
    transition: 0.4s;
}

#scroll-down-prompt > a {
    display: block;
    margin: auto;
    width: 100%;
    text-decoration: none;
}

#scroll-down-prompt > a > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#scroll-down-prompt > a > div > div {
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 50px;
}

#scroll-down-prompt > a > div > div {
    padding-bottom: 25px;
}

#scroll-down-prompt > a > div > div:last-child {
    padding-bottom: 0;
}

#arrow-1, #arrow-3 {
    color: var(--accent-color);
}

#arrow-2 {
    color: var(--main-color);
    text-shadow:
        -1px -1px 0 var(--background-color),
        1px -1px 0 var(--background-color),
        -1px 1px 0 var(--background-color),
        1px 1px 0 var(--background-color);
}

#homepage-projects-section {
    padding-top: 150px;
}

#homepage-projects-section > div > div > h2 {
    margin-top: 0;
}

#homepage-projects-section > .link-button {
    margin-top: 75px;
}

#homepage-resume-section {
    margin-top: 75px;
}

#homepage-resume-section > div > h2 {
    margin-top: 0;
}

#homepage-horizontal-line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-bottom: 1px solid var(--dark-gray-color);
}

#homepage-contact-section {
    margin-top: 100px;
    margin-bottom: 150px;
}

#homepage-contact-section > h2 {
    margin-top: 0;
    text-align: center;
}

#homepage-contact-section > p {
    text-align: center;
}

#homepage-contact-section > .link-button {
    margin-top: 75px;
}

/* * * * * Projects * * * * */

.project-card {
    margin-bottom: 150px;
}

.project-card:first-child {
    margin-top: 100px;
}

.project-card-title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--heading-font), sans-serif;
    font-size: var(--subheading-font-size);
    color: var(--accent-color);
}

.project-card-text > .paragraph {
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-card-text > .link {
    font-size: var(--big-link-font-size);
}

.project-card-links {
    display: flex;
    flex-wrap: wrap;
}

.project-card-links > div {
    display: flex;
    align-items: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    cursor: pointer;
}

.project-card-links > div:last-child {
    margin-right: 0;
}

.project-card-links > div > a > .github-icon {
    width: 2em;
    padding-right: 10px;
}

.project-card-links > div > a > .open-link-icon {
    width: 2em;
    padding-left: 10px;
}

.project-card-image:hover {
    opacity: 75%;
    transition-duration: 0.4s;
    cursor: pointer;
}

#project-image-gallery {
    position: relative;
    display: block;
    height: 500px;
    margin: auto;
}

.project-image-gallery-arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 50px;
    height: 100px;
    color: white;
    background-color: var(--dark-gray-color);
    font-size: 30px;
    user-select: none;
}

.project-image-gallery-arrow-button:hover {
    background-color: var(--light-gray-color);
    transition-duration: 0.5s;
}

#project-image-gallery-previous-arrow-button {
    display: none;
    left: 0;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

#project-image-gallery-next-arrow-button {
    right: 0;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#project-images {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.project-image-container {
    padding: 10px;
}

.project-image {
    height: 100%;
}

.project-image:hover {
    opacity: 75%;
    transition-duration: 0.4s;
}

.project-image-title {
    display: none;
}

.project-image-description {
    display: none;
}

#project-image-modal {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.project-image-modal-spacer {
    flex-grow: 1;
    min-height: 75px;
}

#project-image-modal-content {
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#project-image-modal-content > img {
    height: 60%;
    max-width: 90%;
    padding-left: 30px;
    padding-right: 30px;
}

#project-image-modal-text {
    flex-grow: 1;
    flex-basis: 400px;
    max-width: 90%;
    padding-left: 30px;
    padding-right: 30px;
}

#project-image-modal-title {
    font-family: var(--heading-font), sans-serif;
    font-size: 3em;
    color: white;
    margin-bottom: 0;
}

#project-image-modal-description {
    font-family: var(--paragraph-font), sans-serif;
    font-size: 1.5em;
    color: white;
}

#project-image-modal-close-button {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 75px;
    width: 75px;
    height: 75px;
    font-weight: 900;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

#project-image-modal-close-button:hover {
    background-color: var(--light-gray-color);
    transition-duration: 0.5s;
}

.youtube-embed iframe {
    display: block;
    margin: auto;
}

/* * * * * Resume * * * * */

#resume-html {
    display: block;
    margin: auto;
    max-width: 992px;
}

.resume-section {
    padding-bottom: 100px;
}

.resume-section:last-child {
    padding-bottom: 0;
}

.job-header {
    display: flex;
}

.job-information {
    display: block;
    width: 300px;
    margin-right: 50px;
}

.job-title {
    font-family: var(--heading-font), sans-serif;
    font-size: var(--subheading-font-size);
    margin-top: 0;
    color: var(--accent-color);
}

.company {
    font-family: var(--paragraph-font), sans-serif;
    font-size: var(--paragraph-font-size);
}

.company .link {
    font-size: var(--big-link-font-size);
}

.duration-and-work-type {
    font-family: var(--paragraph-font), sans-serif;
    font-size: var(--paragraph-font-size);
}

.job-description {
    font-family: var(--paragraph-font), sans-serif;
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
    margin-top: 0;
}

.job-accomplishments-title {
    font-family: var(--heading-font), sans-serif;
    font-size: var(--subheading-font-size);
    color: var(--accent-color);
}

.job-accomplishments {
    font-family: var(--paragraph-font), sans-serif;
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
    margin-top: 0;
}

.job-accomplishments li {
    color: var(--accent-color);
}

.job-accomplishments li span {
    color: var(--text-color);
}

#resume-pdf, .pdf-embed {
    display: block;
    margin: auto;
    margin-top: 50px;
}

/* * * * * About * * * * */

#currently-reading {
    display: flex;
    margin-bottom: 25px;
}

#favorite-books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#favorite-books > a {
    margin-bottom: 15px;
}

/* * * * * Contact * * * * */

#contact-page-header > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    font-family: var(--heading-font);
    font-size: var(--title-font-size);
}

#contact-page-header > p {
    text-align: center;
    margin-bottom: 25px;
}

#contact-info {
    margin-top: 125px;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form > label {
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
}

#contact-form > input, #contact-form > textarea {
    padding: 15px;
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    margin-bottom: 15px;
    border-radius: 0;
    border-width: 1px;
}

#contact-form > button {
    padding: 15px;
    border-width: 0;
    /* background-size: 200% 200%; */
    background-image: linear-gradient(
        135deg,
        var(--main-color) 0%,
        var(--main-color) 25%,
        var(--accent-color) 25%,
        var(--accent-color) 50%,
        var(--main-color) 50%,
        var(--main-color) 75%,
        var(--accent-color) 75%,
        var(--accent-color) 100%
    );
    font-family: var(--paragraph-font);
    font-size: var(--big-link-font-size);
    background-color: var(--accent-color);
    color: white;
    font-weight: bold;
}

#contact-form > button:hover, #contact-form > button:active {
    background-image: none;
    background-color: var(--attention-color);
    transition: background-color 0.3s ease-in;
    cursor: pointer;
}

.contact-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    fill: var(--text-color);
    width: 40px;
    transition: 0.3s;
}

.contact-link-text {
    font-family: var(--paragraph-font), sans-serif;
    display: flex;
    justify-content: center;
}

.contact-link {
    text-decoration: underline 3px var(--main-color);
    color: var(--text-color);
    font-weight: bold;
    font-size: var(--paragraph-font-size);
    transition: 0.3s;
}

.contact-info-section:hover .contact-icon, .contact-info-section:active .contact-icon {
    fill: var(--accent-color);
    transition: 0.3s;
}

.contact-info-section:hover .contact-link, .contact-info-section:active .contact-link {
    text-decoration-color: var(--accent-color);
    transition: 0.3s;
}

/* * * * * Error Pages * * * * */

#error-page-header > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    font-family: var(--heading-font);
    font-size: var(--title-font-size);
}

#error-page-header > p {
    text-align: center;
    margin-bottom: 25px;
}

#error-page-header > p > code {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

#error-page-header > p > code > a {
    color: var(--text-color);
    text-decoration-thickness: 2px;
}

#error-page-header > p > code > a:hover {
    text-decoration-thickness: 3px;
}

/*
 * Screen width guide
 *
 * 600px and smaller - phones
 * 600px - 768px - larger phones and smaller tablets
 * 768px - 992px - landscape tablets
 * 992px - 1200px - laptop and desktop screens
 * 1200px and larger - larger laptop and desktop screens
 */

/***** ***** ***** Mobile only ***** ***** *****/

@media only screen and (max-width: 992px) {

    /* * * * * General classes * * * * */

    .section {
        width: 100%;
    }

    /* * * * * Navigation header * * * * */

    #navbar-links-desktop {
        display: none;
    }

    #mobile-nav-menu {
        display: flex;
    }

    #nav-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hamburger-menu-bar {
        width: 35px;
        height: 5px;
        background-color: var(--text-color);
    }

    #top-hamburger-menu-bar, #middle-hamburger-menu-bar {
        margin-bottom: 6px;
        transition: 0.4s;
    }

    #bottom-hamburger-menu-bar {
        transition: 0.4s;
    }

    .open-menu #top-hamburger-menu-bar {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .open-menu #middle-hamburger-menu-bar {
        opacity: 0;
    }

    .open-menu #bottom-hamburger-menu-bar {
        transform: translate(0, -11px) rotate(45deg);
    }

    /* * * * * Home Page * * * * */

    #welcome-section img {
        width: 200px;
    }

    #scroll-down-prompt {
        width: 100%;
    }

    #homepage-projects-section img, #homepage-projects-section video {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    #homepage-projects-section > .link-button {
        width: 50%;
    }

    #homepage-resume-section {
        display: flex;
        flex-direction: column-reverse;
    }

    #homepage-resume-section > .link-button {
        margin-top: 75px;
        width: 50%;
    }

    #homepage-horizontal-line {
        width: 75%;
    }

    #homepage-contact-section > .link-button {
        width: 80%;
    }

    /* * * * * Projects * * * * */

    .project-card-title {
        text-align: center;
    }

    .project-card-links {
        justify-content: center;
    }

    .project-card-image-link {
        display: block;
        margin: auto;
        width: 90%;
        padding-bottom: 25px;
    }

    .project-card-image-link > img {
        width: 100%;
    }

    .project-card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    .project-card-text > .paragraph {
        text-align: center;
    }

    #project-image-gallery {
        width: 90%;
        height: 350px;
    }

    #project-image-modal-image {
        width: 100%;
    }

    .pdf-embed {
        width: 90%;
        height: 500px;
    }

    /* * * * * Resume * * * * */

    .job-header {
        flex-direction: column;
    }

    .job-description {
        width: 100%;
    }

    #resume-pdf {
        width: 90%;
        height: 1000px;
    }

    /* * * * * About * * * * */

    #currently-reading {
        flex-direction: column-reverse;
        align-items: center;
    }

    #currently-reading h3 {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #currently-reading > div {
        text-align: center;
        margin-bottom: 50px;
    }

    /* * * * * Contact * * * * */

    #contact-info {
        display: block;
        justify-content: space-around;
    }

    .contact-info-section {
        margin-bottom: 150px;
    }
}

/***** ***** ***** Desktop only ***** ***** *****/

@media only screen and (min-width: 992px) {

    /* * * * * Navigation header * * * * */

    #navbar-links-desktop {
        display: flex;
    }

    #mobile-nav-menu {
        display: none;
    }

    #nav-icon {
        display: none;
    }

    /* * * * * Home Page * * * * */

    #welcome-section img {
        width: 200px;
    }

    #scroll-down-prompt {
        width: 400px;
    }

    #homepage-projects-section > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #homepage-projects-section > div > div {
        width: 550px;
    }

    #homepage-projects-section img, #homepage-projects-section video {
        width: 320px;
    }

    #homepage-projects-section > .link-button {
        width: 400px;
    }

    #homepage-resume-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #homepage-resume-section > div {
        width: 70%;
        margin-left: 50px;
    }

    #homepage-resume-section > .link-button {
        width: 300px;
    }

    #homepage-horizontal-line {
        width: 500px;
    }

    #homepage-contact-section > .link-button {
        width: 400px;
    }

    /* * * * * Projects * * * * */

    .project-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .project-card-title {
        text-align: left;
    }

    .project-card-links {
        justify-content: flex-start;
    }

    .project-card-text {
        width: 510px;
    }

    .project-card-image-link {
        width: 410px;
    }

    .project-card-image {
        width: 100%;
    }

    .project-card:nth-child(odd) {
        flex-direction: row;
    }

    .project-card:nth-child(odd) .project-card-text {
        flex-direction: row;
    }

    .project-card:nth-child(even) {
        flex-direction: row-reverse;
    }

    .project-card:nth-child(even) .project-card-text {
        flex-direction: row;
    }

    #project-image-gallery {
        max-width: 992px;
    }

    #project-image-modal-image {
        height: 100%;
    }

    .pdf-embed {
        width: 100%;
        height: 500px;
    }

    /* * * * * Resume * * * * */

    .job-header {
        flex-direction: row;
    }

    .job-description {
        max-width: 600px;
    }

    #resume-pdf {
        width: 75%;
        height: 1000px;
    }

    /* * * * * About * * * * */

    #currently-reading {
        justify-content: space-around;
        align-items: center;
    }
    
    #currently-reading > div {
        margin-left: 15px;
    }
    
    #currently-reading > div > a > h3 {
        margin-top: 0;
    }

    /* * * * * Contact * * * * */

    #contact-info {
        display: flex;
        justify-content: space-around;
    }

    .contact-info-section {
        width: 400px;
    }
}

/***** ***** ***** Devices with a mouse only ***** ***** *****/

@media (pointer: fine) {
    #project-images {
        scrollbar-width: 10px;
        scrollbar-color: var(--main-color) var(--background-color);
    }

    #project-images::-webkit-scrollbar {
        width: 10px;
    }

    #project-images::-webkit-scrollbar-track {
        background: var(--footer-background-color);
    }

    #project-images::-webkit-scrollbar-thumb {
        background: var(--main-color);
    }

    #project-images::-webkit-scrollbar-thumb:hover {
        background: var(--attention-color);
    }

    #project-images::-webkit-scrollbar-thumb:active {
        background: #6c145d;
    }
}
