* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: black; */
    z-index: 1;
    backdrop-filter: blur(20px) brightness(20%);
}

#mobile-nav-menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
}

#navbar-links-mobile {
    display: none;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
}

#navbar-links-desktop {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

#navtitle {
    float: left;
    padding-left: 5px;
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
}

#navtitle-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* background-color: black; */
    color: white;
    text-decoration: none;
}

.navitem {
    display: flex;
    align-items: stretch;
    float: left;
}

.navitem-mobile {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: black; */
    backdrop-filter: blur(20px) brightness(20%);
    width: 100%;
}

.navlink {
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
}

.navlink:hover, .navlink-mobile:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.4s;
}

.bold-navlink {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#nav-icon {
    display: flex;
    fill: white;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

#main-content {
    margin: 10px;
    color: white;
}

.page-title {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fjalla One", sans-serif;
    font-size: 5em;
    text-align: center;
}

.page-heading {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fjalla One", sans-serif;
    font-size: 3em;
    text-align: center;
}

.page-description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 100px;
}

.paragraph {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.7em;
    margin: auto;
}

.project-card {
    margin-bottom: 100px;
}

.project-card-title {
    margin-top: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
}

.project-card-description {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

a {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: #68dffd;
    text-decoration-thickness: 3px;
    transition: 0.4s;
}

a:hover {
    text-decoration-thickness: 4px;
    text-decoration-color: #fd9568;
}

.project-card-link {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: #fd9568;
    text-decoration-thickness: 3px;
    background-image:linear-gradient(to bottom, rgba(248, 125, 73, 25%) 50%, black 0);
    background-size: 200% 200%;
    background-position:bottom;
    transition: 0.3s;
}

.project-card-link:hover {
    background-position: top;
    transition: 0.5s;
}

.project-page-sections {
    max-width: 992px;
    margin: auto;
}

#project-image-gallery {
    position: relative;
    display: block;
    height: 500px;
    margin: auto;
}

.project-image-gallery-arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 100px;
    color: white;
    background-color: #333333;
    font-size: 30px;
}

.project-image-gallery-arrow-button:hover {
    background-color: #777777;
    transition-duration: 0.5s;
}

#project-image-gallery-previous-arrow-button {
    display: none;
    left: 0;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}

#project-image-gallery-next-arrow-button {
    right: 0;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#project-images {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

.project-container {
    width: 850;
}

.project-image {
    height: 100%;
    padding: 10px;
}

.project-image:hover {
    opacity: 75%;
    transition-duration: 0.4s;
}

.project-image-title {
    display: none;
}

.project-image-description {
    display: none;
}

#project-image-modal {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#project-image-modal-content {
    height: 60%;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#project-image-modal-text {
    padding-left: 50px;
    flex-basis: 400px;
    flex-grow: 1;
}

#project-image-modal-title {
    font-family: "Fjalla One", sans-serif;
    font-size: 3em;
    color: white;
    margin-bottom: 0;
}

#project-image-modal-description {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    color: white;
}

.project-image-modal-spacer {
    height: 20%;
}

#project-image-modal-close-button {
    position: fixed;
    top: 75px;
    right: 0px;
    padding: 15px;
    font-size: 75px;
    width: 75px;
    height: 75px;
    font-weight: 900;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-image-modal-close-button:hover {
    background-color: #777777;
    transition-duration: 0.5s;
}

.project-subheading {
    font-family: "Fjalla One", sans-serif;
    font-size: 3em;
    margin-top: 75px;
}

.project-paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
    line-height: 1.5em;
}

#resume-html {
    display: block;
    margin: auto;
    max-width: 992px;
}

.resume-section {
    margin-top: 100px;
}

.job-header {
    display: flex;
}

.job-information {
    display: block;
    width: 300px;
    margin-right: 50px;
}

.job-title {
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
    margin-top: 0;
    color: #fd9568;
}

.company {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
}

.duration-and-work-type {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}

.job-description {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    margin-top: 0;
}

.job-accomplishments-title {
    font-family: "Fjalla One", sans-serif;
    font-size: 1.25em;
    color: #fd9568;
}

.job-accomplishments {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    line-height: 1.75em;
    margin-top: 0;
}

#resume-pdf {
    display: block;
    margin: auto;
}

#contact-info {
    margin-top: 125px;
}

.contact-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 40px;
}

.contact-link-text {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
}

.contact-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.15em;
}

/*
 * Screen width guide
 *
 * 600px and smaller - phones
 * 600px - 768px - larger phones and smaller tablets
 * 768px - 992px - landscape tablets
 * 992px - 1200px - laptop and desktop screens
 * 1200px and larger - larger laptop and desktop screens
 */

/* Mobile only */
@media only screen and (max-width: 992px) {
    .paragraph {
        font-size: 1.5em;
        max-width: 700px;
    }

    #navbar-links-desktop {
        display: none;
    }

    #mobile-nav-menu {
        display: flex;
    }

    #nav-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hamburger-menu-bar {
        width: 35px;
        height: 5px;
        background-color: white;
    }

    #top-hamburger-menu-bar, #middle-hamburger-menu-bar {
        margin-bottom: 6px;
        transition: 0.4s;
    }

    #bottom-hamburger-menu-bar {
        transition: 0.4s;
    }

    .open-menu #top-hamburger-menu-bar {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .open-menu #middle-hamburger-menu-bar {
        opacity: 0;
    }

    .open-menu #bottom-hamburger-menu-bar {
        transform: translate(0, -11px) rotate(45deg);
    }

    .project-card-image {
        display: block;
        margin: auto;
        width: 90%;
        padding-bottom: 25px;
    }

    .project-card-title {
        display: flex;
        justify-content: center;
    }

    .project-card-description {
        display: flex;
        justify-content: center;
    }

    #project-image-gallery {
        width: 100%;
    }

    #project-image-modal-image {
        width: 100%;
    }

    .job-header {
        flex-direction: column;
    }

    .job-description {
        width: 100%;
    }

    #resume-pdf {
        width: 100%;
        height: 1000px;
    }

    #contact-info {
        display: block;
        justify-content: space-around;
    }

    .contact-info-section {
        margin-bottom: 150px;
    }
}

/* Desktop only */
@media only screen and (min-width: 992px) {
    .paragraph {
        font-size: 1.5em;
        max-width: 800px;
    }

    #navbar-links-desktop {
        display: flex;
    }

    #mobile-nav-menu {
        display: none;
    }

    #nav-icon {
        display: none;
    }

    #project-gallery {
        display: block;
        width: 950px;
        margin: auto;
    }

    .project-card {
        display: flex;
    }

    .project-card-text {
        flex-grow: 3;
    }

    .project-card-image {
        flex-grow: 1;
    }

    .project-card-text {
        flex-grow: 3;
    }

    .project-card-image {
        flex-grow: 1;
    }

    .project-card:nth-child(odd) {
        flex-direction: row;
    }

    .project-card:nth-child(odd) .project-card-text {
        flex-direction: row;
        padding-left: 25px;
    }

    .project-card:nth-child(even) {
        flex-direction: row-reverse;
    }

    .project-card:nth-child(even) .project-card-text {
        flex-direction: row;
        padding-right: 25px;
    }

    #project-image-gallery {
        max-width: 992px;
    }

    #project-image-modal-image {
        height: 100%;
    }

    .job-header {
        flex-direction: row;
    }

    .job-description {
        max-width: 600px;
    }

    #resume-pdf {
        width: 75%;
        height: 1000px;
    }

    #contact-info {
        display: flex;
        justify-content: space-around;
    }

    .contact-info-section {
        width: 300px;
    }
}
