* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* * * * * * * * * * Navigation header * * * * * * * * * */

#navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

#mobile-nav-menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
}

#navbar-links-mobile {
    display: none;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: stretch;
    justify-content: stretch;
}

#navbar-links-desktop {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

#navtitle {
    float: left;
    padding-left: 5px;
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
}

#navtitle-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.navitem {
    display: flex;
    align-items: stretch;
    float: left;
}

.navitem-mobile {
    display: flex;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    width: 100%;
}

.navlink {
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25em;
}

.navlink:hover, .navlink-mobile:hover {
    background-color: blue;
}

.bold-navlink {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#nav-icon {
    display: flex;
    fill: white;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}

#open-nav-icon {
    display: flex;
    width: 25px;
    fill: white;
    justify-content: center;
    align-items: center;
}

#close-nav-icon {
    display: none;
    width: 25px;
    fill: white;
    justify-content: center;
    align-items: center;
}

/* * * * * * * * * * Main Content * * * * * * * * * */

#main-content {
    margin: 10px;
}

.page-title {
    padding-top: 50px;
    display: flex;
    font-family: "Fjalla One", sans-serif;
    font-size: 5em;
    justify-content: center;
    align-items: center;
}

.paragraph {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.7em;
    margin: auto;
}

.project-card {
    margin-bottom: 100px;
}

.project-card-title {
    margin-top: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: 2em;
}

.project-card-description {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    margin: auto;
}

/*
 * Screen width guide
 *
 * 600px and smaller - phones
 * 600px - 768px - larger phones and smaller tablets
 * 768px - 992px - landscape tablets
 * 992px - 1200px - laptop and desktop screens
 * 1200px and larger - larger laptop and desktop screens
 */

/* Mobile only */
@media only screen and (max-width: 992px) {
    .paragraph {
        font-size: 1.5em;
        max-width: 700px;
    }

    #navbar-links-desktop {
        display: none;
    }

    #mobile-nav-menu {
        display: flex;
    }

    #nav-icon {
        display: flex;
    }

    .project-card-image {
        display: block;
        margin: auto;
        width: 90%;
        padding-bottom: 25px;
    }

    .project-card-title {
        display: flex;
        justify-content: center;
    }

    .project-card-description {
        display: flex;
        justify-content: center;
    }
}

/* Desktop only */
@media only screen and (min-width: 992px) {
    .paragraph {
        font-size: 1.5em;
        max-width: 800px;
    }

    #navbar-links-desktop {
        display: flex;
    }

    #mobile-nav-menu {
        display: none;
    }

    #nav-icon {
        display: none;
    }

    .project-card {
        display: flex;
    }

    .project-card-text {
        flex-grow: 3;
    }

    .project-card-image {
        flex-grow: 1;
    }

    .project-card-text {
        flex-grow: 3;
    }
    
    .project-card-image {
        flex-grow: 1;
    }
    
    .project-card:nth-child(odd) {
        flex-direction: row;
    }
    
    .project-card:nth-child(odd) .project-card-text {
        flex-direction: row;
        padding-left: 25px;
        text-align: left;
    }
    
    .project-card:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    .project-card:nth-child(even) .project-card-text {
        flex-direction: row;
        padding-right: 25px;
    }
}
